@font-face {
    font-family: "Noto Sans";
    src: url("./fonts/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    src: url("./fonts/NotoSans-Bold.ttf") format("truetype");
}

html {
    font-family: 'Noto Sans';
    background-color: rgba(255, 255, 255, 0.8);
}

html,
body {
    height: 90%;
}

.wrapper {
    height: 100%;
    padding-top: 10px;
    vertical-align: middle;
}

.large {
    display: inline-block;
    font-size: 72px;
    padding-right: 10px;
}

small {
    font-size: 12px;
}

p {
    display: inline-block;
}

div {
    text-align: center;
}