@font-face {
    font-family: "Noto Sans";
    src: url("./fonts/NotoSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Noto Sans";
    font-weight: bold;
    src: url("./fonts/NotoSans-Bold.ttf") format("truetype");
}

html {
    font-family: 'Noto Sans';
    background-color: rgba(255, 255, 255, 0.8);
}

html, body {
    height: 90%;
}

.wrapper {
    height: 100%;
    padding-top: 10px;
    vertical-align: middle;
}

.large {
    display: inline-block;
    font-size: 72px;
    padding-right: 10px;
}

.short {
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #000;
    padding: 1px 4px;
}

.keyboard {
    display: inline-block;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid #000;
    width: var(--width);
    padding: 0 1px 2px;
}

.small {
    display: inline-block;
    font-size: 12px;
    margin-bottom: 8px;
}

p {
    display: inline-block;
}

div {
    text-align: center;
}